#fname{
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(2, 48%); 
  grid-template-rows: repeat(3, 280px);  
  grid-gap: 10px 10px;   
}
h1 {
  margin-top: 0;
  text-align : center;
  font-size: 40px;
  background-color: rgb(207, 167, 212);
}
h2 {
  color: black;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 25px;
  margin-left: 10px;
}
body {
  background-color: rgb(228, 166, 142);
}
a:link, a:visited {
  text-decoration: none;
  color: white;
}
a:hover, a:active {
  text-decoration: none;
  color: brown;
}
.food {
  padding: 5px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 18px;
  background-size: cover;
}
.kor {
  background-image: url('main1.PNG');
}
.wes {
  background-image: url('main2.PNG');

}
.jap {
  background-image: url('main3.jfif'); 
}
.chi {
  background-image: url('main4.jfif');
}
.flo {
 
  background-image: url('main5.PNG');
}
.asi {
  background-image: url('main6.PNG');
}
i {
  color: brown;
}