a:link, a:visited {
  text-decoration: none;
  color: black;
}
a:hover, a:active {
  text-decoration: none;
  color: brown;
}
ul {
	list-style: none;
	width: 900px;
	margin: 10px auto;
  padding: 0;
}
li {
	display: inline-block;
	width: 250px;
	padding: 10px 10px;	
	font-size: 20px;
	text-align: center;
  background-color: rgb(240, 199, 241);
}
.show {
	width: 100%;
	text-align: left;			
	line-height: 1.8;
	display: none;
}
img {
	width: 40%;
	height: 270px; 
	padding-left: 20px;
	padding-top: 5px;
}
h1 {
	text-align: center;
	background-color: rgb(207, 167, 212);
	margin-top: 0;
	margin-bottom: 0;
	font-size: 40px;
}
body {
	background-color: rgb(228, 166, 142);
}
h2 {
	font-size: 30px;
	margin-left: 20px;
}
p {
	margin-left: 20px;
}
button {
	background-color: rgb(238, 196, 227);
	margin-left: 10px;
	font-size: 15px;
}
i {
	color: brown;
}
